html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body{
    font-family: 'Lato', sans-serif;
    margin: 0;

}
.container {
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
h2 {
    font-family: Georgia;
    font-size: 50px;
    font-weight: 700;
    line-height: 157%;
}
p, h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

.text__caption {
    color: #424242;
    font-weight: 600;
    line-height: 157%;
    font-size: 25px;
}
.text__description {
    color: #484848;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 144.5%;
}
.btn__primary {
    display: inline-flex;
    padding: 20px 50px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
/* Header */
.header {
    max-height: 895px;
    background-size: 100%;
    height: 100%;
    width: 100%;
    background-image: url(../assets/header-bg.png);
    background-repeat: no-repeat;
}
.header h1 {
    color: #01996D;
    font-family: Georgia, serif;
    font-size: 65px;
    font-weight: 700;
    max-width: 440px;
    padding-top: 172px;
    padding-bottom: 29px;
}
.header__description {
    color: #484848;
    max-width: 420px;
    width: 100%;
    margin-bottom: 56px;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 14px;
    padding-bottom: 15px;
    border-bottom: 1px solid #D6D6D6;
    color: #292929;
}
.menu__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu__logo {
    cursor: pointer;
    margin-right: 170px;
}
.menu__logo:hover {
    outline: 2px solid #01996D;
    outline-offset: 8px;
}
.menu__list {
    padding: 0;
}
.menu__list:last-child {
    padding-right: 0;
}
.menu__list li{
    display: inline-block;
    margin-right: 72px;
    font-size: 20px;
    font-weight: 500;
}
.menu__list li:hover{
    color: #01996D;
    cursor: pointer;
}
.menu__list li:last-child{
    margin-right: 0;
}
.menu__buttons {
    margin-left: 264px;
    display: flex;
    gap: 25px;
}
.btn {
    border-radius: 4px;
    border: 1px solid #01996D;
    background-color: #01996D;
    color: white;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}
.menu__buttons-secondary {
    font-size: 20px;
    border: none;
    background-color: #fff;
    padding-left: 10px;
}
.menu__buttons-secondary:hover {
    color: #01996D;
    cursor: pointer;
}
.menu__buttons-primary {
    padding: 13px 50px;
}
.menu__buttons-primary:hover {
    border-color: #fff;
}
/* Advantages */
.advantages {
    padding-top: 169px;
    padding-bottom: 48px;
}
.our-products__headline {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 586px;
    width: 100%;
}
.advantages__title {
    color: #01996D;
    max-width: 584px;
    width: 100%;
}
.advantages__text {
    color: #424242;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.advantages__description {
    max-width: 671px;
    width: 100%;
    padding-left: 22px;
    padding-top: 40px;
}
.advantages__steps {
    padding-top: 46px;
    display: flex;
    justify-content: space-between;
    max-width: 1368px;
    width: 100%;
}
.advantages__item {
    position: relative;
}
.num {
    color: rgba(1, 153, 109, 0.20);
    font-family: Georgia;
    font-size: 150px;
    font-weight: 400;
    line-height: 150%;
    position: relative;
    max-width: 175px;
}
.advantages__item-title {
    color: #000;
    text-align: center;
    font-family: Georgia;
    font-size: 30px;
    font-weight: 700;
    line-height: 150%;
    position: absolute; 
    top: 136px;
    left: 89px;
}
.advantages__item-description {
    color: #424242;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    width: 100%;
    max-width: 382px;
    padding-bottom: 60px;
    padding-top: 12px;
}
.advantages__item:nth-child(2) {
    margin-top: 287px;
}
.advantages__item:nth-child(2) .num {
    left: 17px;
}
.advantages__item:nth-child(2) .advantages__item-title {
    top: 137px;         
    left: 96px;
    max-width: 313px;
    width: 100%;
}
.advantages__item:nth-child(2) .advantages__item-description {
    padding-bottom: 36px;
    max-width: 412px;
    width: 100%;
    padding-left: 14px;
}
.advantages__item:nth-child(2) .advantages__img {
    padding-left: 16px;
}
.advantages__item:nth-child(3) {
    max-width: 408px;
    width: 100%;
}
.advantages__item:nth-child(3) .num {
    padding-top: 46px;
    left: 20px;
    top: 10px;
}
.advantages__item:nth-child(3) .advantages__item-title {
    top: 190px;         
    left: 142px;
}
.advantages__item:nth-child(3) .advantages__item-description {
    max-width: 417px;
    width: 100%;
    padding-left: 15px;
    padding-bottom: 46px;
}
.advantages__item:nth-child(3) .advantages__img {
    padding-left: 16px;
}
.promo {
    background-color: #245852;
    max-height: 922px;
    height: 100%;
    padding: 48px 207px;
}
.promo_wrapper {
    display: flex;
}
.promo__block {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 264px;
    margin-right: 31px;
}
.promo__title {
    color: #FFF;
    max-width: 580px;
    width: 100%;
    padding-bottom: 33px;
}
.promo__description {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    line-height: 157%;
    padding-bottom: 55px;
}
.video__block {
    position: relative;
    margin-top: 180px;
    overflow: hidden;
    max-width: 896px;
    border-radius: 16px;
}
video {
    width: 100%;
    max-height: 515px;
    height: auto;
    display: block;
    object-fit: cover;
}
.video__play {
    position: absolute;
    top: 42%;
    left: 46%;
    width: 80px;
    height: 80px;
    pointer-events: none;
    z-index: 2;
}
/* Our products section */
.our-products .container {
    margin-top: 120px;
    margin-bottom: 240px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.card__container {
    margin-left: 58px;
    position: relative;
}
.card {
    width: 296px;
    height: 294px;
    position: absolute;
    filter: drop-shadow(0 3.622px 18.112px rgba(165, 165, 165, 0.25));
    border-radius: 4px;
    background: #FFF;
    top: 61%;
    left: -9%;
}
.card__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
}
.card__title {
    color: #000;
    font-size: 14.49px;
    font-weight: 600;
    line-height: 157%; /* 22.749px */
    max-width: 100%;
    padding-bottom: 7px;
}
.card__divider:before {
    content: "";
    display: block;
    background-color: #000;
    width: 110px;
    height: 1px;
}
.card__avatar {
    padding-top: 13px;
    padding-bottom: 10px;
}
.card__avatar-name {
    color: #000;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 157%; /* 18.738px */
}
.card__list {
    display: flex;
    flex-direction: column;
}
.card__list ul{
    padding-left: 75px;
}
.card__list-title {
    color: #000;
    font-family: Georgia;
    font-size: 16px;
    font-weight: 700;
    line-height: 157%; /* 25.009px */
    padding-top: 17px;
    margin: 0 auto;
}
.card__list li{
    color: #000;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 157%; /* 16.673px */
}
.card__list li:first-child{
    padding-bottom: 14px;
}
.our-products__text {
    margin-left: 86px;
}
.our-products__caption {
    font-size: 25px;
}
.our-products__title {
    color: #01996D;
    padding-top: 10px;
    padding-left: 4px;
}
.our-products__description {
    padding-top: 20px;
    padding-bottom: 34px;
    max-width: 530px;
    width: 100%;
}
/* Footer */
.footer {
    display: flex;
    background: #245852;
    padding-top: 100px;
}
.footer__menu {
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    list-style-type: none;
    padding: 0;
    padding-top: 46px;
    padding-bottom: 124px;
}
.footer__menu li {
    margin-top: 58px;
}
.footer__menu li:first-child{
    margin-top: 0;
}
a:visited  {
    color: inherit;
}
/* Laptop */
@media screen and (max-width: 1440px) {
    .container {
        padding: 0 30px;
    }
    .menu__list li{
        margin-right: 50px;
    }
    .promo__block {
        padding-top: 64px;
    }
    .footer__menu {
        padding-bottom: 24px;
    }
}
@media screen and (max-width: 1024px) {
    .text__caption {
        font-size: 20px;
    }
    .container {
        padding: 0 30px;
        border: 1px solid red;
    }
    .btn__primary {
        padding: 16px 42px;
    }
    .menu__logo {
        margin-right: 70px;
    }
    .menu__list li{
        margin-right: 24px;
        font-size: 18px;
    }
    .menu__buttons {
        margin-left: 64px;
    }
    .btn {
        font-size: 18px;
    }
    .menu__buttons-primary {
        padding: 11px 46px;
    }
    .menu__buttons-secondary {
        font-size: 18px;
    }
    .header h1 {
        font-size: 48px;
        padding-top: 102px;
        padding-bottom: 29px;
    }
    .header__button {
        margin-bottom: 30px;
    }
    .text__description {
        font-size: 18px;
        margin-bottom: 36px;
    }
    .advantages {
        padding-top: 120px;
        padding-bottom: 48px;
    }
    .our-products__caption {
        font-size: 20px;
    }
    h2 {
        font-size: 40px;
    }
    .advantages__text {
        font-size: 18px;
        flex-direction: column;
        align-items: start;
        padding-left: 0;
    }
    .num {
        font-size: 100px;
    }
    .advantages__item-title {
        font-size: 24px;
        top: 86px;
        left: 54px;
        padding-top: 0;
    }
    .advantages__item-description {
        font-size: 16px;
        padding-bottom: 30px;
    }
    .advantages__img {
        width: 230px;
    }
    .advantages__item:first-child {
        margin-right: 40px;
    }
    .advantages__item:nth-child(2) {
        margin-top: 227px;
        padding-right: 130px;
    }
    .advantages__item:nth-child(2) .advantages__item-title {
        top: 87px;         
        left: 56px;
    }
    .advantages__item:nth-child(2) .advantages__item-description {
        padding-bottom: 30px;
        width: 240px;
    }
    .advantages__item:nth-child(3) {
        margin-right: 0;
    }
    .advantages__item:nth-child(3) .advantages__item-title {
        top: 140px;         
        left: 112px;
    }
    .advantages__item:nth-child(3) .advantages__item-description {
        padding-right: 60px;

    }
    .promo {
        padding: 0 50px;
    }
    .video__block {
        border-radius: 16px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .our-products .container {
        margin-top: 100px;
        margin-bottom: 120px;
    }
    .card__container {
        margin-left: 58px;
        position: relative;
    }
    .card-img {
        width: 100%;
        height: auto;
    }
    .card {
        width: 256px;
        height: 254px;
        position: absolute;
        filter: drop-shadow(0 3.622px 18.112px rgba(165, 165, 165, 0.25));
        border-radius: 4px;
        background: #FFF;
        top: 61%;
        left: -9%;
    }
    .card__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 24px;
    }
    .card__title {
        color: #000;
        font-size: 14.49px;
        font-weight: 600;
        line-height: 157%; /* 22.749px */
        max-width: 100%;
        padding-bottom: 7px;
    }
    .card__divider:before {
        content: "";
        display: block;
        background-color: #000;
        width: 110px;
        height: 1px;
    }
    .card__avatar {
        padding-top: 13px;
        padding-bottom: 10px;
    }
    .card__avatar-name {
        color: #000;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        line-height: 157%; /* 18.738px */
    }
    .card__list {
        display: flex;
        flex-direction: column;
    }
    .card__list ul{
        padding-left: 75px;
    }
    .card__list-title {
        color: #000;
        font-family: Georgia;
        font-size: 16px;
        font-weight: 700;
        line-height: 157%; /* 25.009px */
        padding-top: 17px;
        margin: 0 auto;
    }
    .card__list li{
        color: #000;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 157%; /* 16.673px */
    }
    .card__list li:first-child{
        padding-bottom: 14px;
    }
    .our-products__text {
        margin-left: 86px;
    }
    .our-products__caption {
        font-size: 16px;
    }
    .our-products__description {
        padding-top: 20px;
        padding-bottom: 34px;
        max-width: 530px;
        width: 100%;
    }
}