html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body{
    font-family: 'Lato', sans-serif;
    margin: 0;

}
.container {
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
h2 {
    font-family: Georgia;
    font-size: 50px;
    font-weight: 700;
    line-height: 157%;
}
p, h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}

.text__caption {
    color: #424242;
    font-weight: 600;
    line-height: 157%;
}
.text__description {
    color: #484848;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 144.5%;
}
/* Header */
.header {
    min-height: 895px;
    height: 100%;
    background-image: url(../assets/header-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.header h1 {
    color: #01996D;
    font-family: Georgia, serif;
    font-size: 65px;
    font-weight: 700;
    max-width: 440px;
    padding-top: 172px;
    padding-bottom: 29px;
}
.header__description {
    color: #484848;
    max-width: 420px;
    width: 100%;
    margin-bottom: 56px;
}
.header__button {
    padding: 21px 48px;
}
.menu {
    display: flex;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 15px;
    border-bottom: 1px solid #D6D6D6;
    color: #292929;
}
.menu__container {
    display: flex;
    align-items: center;
}
.menu__logo {
    cursor: pointer;
    margin-right: 170px;
}
.menu__logo:hover {
    outline: 2px solid #01996D;
    outline-offset: 8px;
}
.menu__list {
    padding: 0;
}
.menu__list:last-child {
    padding-right: 0;
}
.menu__list li{
    display: inline-block;
    margin-right: 72px;
    font-size: 20px;
    font-weight: 500;
}
.menu__list li:hover{
    color: #01996D;
    cursor: pointer;
}
.menu__list li:last-child{
    margin-right: 0;
}
.menu__buttons {
    margin-left: 264px;
    display: flex;
    gap: 25px;
}
.btn {
    border-radius: 4px;
    border: 1px solid #01996D;
    background-color: #01996D;
    color: white;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}
.menu__buttons-secondary {
    border: none;
    border-color: white;
    font-size: 20px;
    font-weight: 400;
    background-color: #fff;
    padding-left: 10px;
}
.menu__buttons-secondary:hover {
    color: #01996D;
    cursor: pointer;
}
.menu__buttons-primary {
    padding: 13px 50px;
}
.menu__buttons-primary:hover {
    border-color: #fff;
}
/* Advantages */
.advantages {
    padding-top: 169px;
    padding-bottom: 48px;
}
.our-products__headline {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 586px;
    width: 100%;
}
.our-products__caption {
    font-size: 24px;
}
.advantages__title {
    color: #01996D;
    max-width: 584px;
    width: 100%;
}
.advantages__text {
    color: #424242;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.advantages__description {
    max-width: 671px;
    width: 100%;
    padding-left: 22px;
    padding-top: 40px;
}
.advantages__steps {
    padding-top: 46px;
    display: flex;
    justify-content: space-between;
    max-width: 1368px;
}
.advantages__item {
    position: relative;
}
.num {
    color: rgba(1, 153, 109, 0.20);
    font-family: Georgia;
    font-size: 150px;
    font-weight: 400;
    line-height: 150%;
    position: relative;
}
.advantages__item-title {
    color: #000;
    text-align: center;
    font-family: Georgia;
    font-size: 30px;
    font-weight: 700;
    line-height: 150%;
    position: absolute; 
    top: 136px;
    left: 89px;
}
.advantages__item-description {
    color: #424242;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    width: 100%;
    max-width: 382px;
    padding-bottom: 60px;
    padding-top: 12px;
}
.advantages__item:nth-child(2) {
    margin-top: 287px;
}
.advantages__item:nth-child(2) .num {
    left: 17px;
}
.advantages__item:nth-child(2) .advantages__item-title {
    top: 137px;         
    left: 96px;
    max-width: 313px;
    width: 100%;
}
.advantages__item:nth-child(2) .advantages__item-description {
    padding-bottom: 36px;
    max-width: 412px;
    width: 100%;
    padding-left: 14px;
}
.advantages__item:nth-child(2) .advantages__img {
    padding-left: 16px;
}
.advantages__item:nth-child(3) {
    max-width: 408px;
    width: 100%;
}
.advantages__item:nth-child(3) .num {
    padding-top: 46px;
    left: 20px;
    top: 10px;
}
.advantages__item:nth-child(3) .advantages__item-title {
    top: 190px;         
    left: 142px;
}
.advantages__item:nth-child(3) .advantages__item-description {
    max-width: 417px;
    width: 100%;
    padding-left: 15px;
    padding-bottom: 46px;
}
.advantages__item:nth-child(3) .advantages__img {
    padding-left: 16px;
}
.promo {
    background-color: #245852;
    height: 922px;
    padding: 48px 207px;
}
.promo_wrapper {
    display: flex;
}
.promo__block {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 264px;
    margin-right: 31px;
}
.promo__title {
    color: #FFF;
    max-width: 580px;
    width: 100%;
    padding-bottom: 33px;
}
.promo__description {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    line-height: 157%;
    padding-bottom: 55px;
}
.promo__btn {
    display: inline-flex;
    padding: 20px 48px;
    flex-direction: column;
    align-items: center;
}
.video__block {
    position: relative;
    margin-top: 180px;
    overflow: hidden;
    width: 896px;
    border-radius: 16px;
}
video {
    width: 100%;
    max-height: 515px;
    height: auto;
    display: block;
    object-fit: cover;
}
.video__play {
    position: absolute;
    top: 42%;
    left: 46%;
    width: 80px;
    height: 80px;
    pointer-events: none;
    z-index: 2;
}
/* Our products section */

.our-products .container {
    margin-top: 120px;
    margin-bottom: 168px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.card__container {
    margin-left: 58px;
    position: relative;
}
.card {
    width: 296px;
    height: 294px;
    position: absolute;
    filter: drop-shadow(0 3.622px 18.112px rgba(165, 165, 165, 0.25));
    border-radius: 4px;
    background: #FFF;
    top: 61%;
    left: -9%;
}
.card__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
}
.card__title {
    color: #000;
    font-size: 14.49px;
    font-weight: 600;
    line-height: 157%; /* 22.749px */
    max-width: 100%;
    padding-bottom: 7px;
}
.card__divider:before {
    content: "";
    display: block;
    background-color: #000;
    width: 110px;
    height: 1px;
}
.card__avatar {
    padding-top: 13px;
    padding-bottom: 10px;
}
.card__avatar-name {
    color: #000;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 157%; /* 18.738px */
}
.card__list {
    display: flex;
    flex-direction: column;
}
.card__list ul{
    padding-left: 75px;
}
.card__list-title {
    color: #000;
    font-family: Georgia;
    font-size: 16px;
    font-weight: 700;
    line-height: 157%; /* 25.009px */
    padding-top: 17px;
    margin: 0 auto;
}
.card__list li{
    color: #000;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 157%; /* 16.673px */
}
.card__list li:first-child{
    padding-bottom: 14px;
}
.our-products__text {
    margin-left: 86px;
}
.our-products__caption {
    font-size: 25px;
}
.our-products__title {
    color: #01996D;
    padding-top: 10px;
    padding-left: 4px;
}
.our-products__description {
    padding-top: 20px;
    padding-bottom: 34px;
    max-width: 530px;
    width: 100%;
}
.our-products__btn {
    padding: 20px 50px;
}