html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body{
    font-family: 'Lato', sans-serif;
    margin: 0;

}
.container {
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
/* Header */
.header {
    min-height: 895px;
    background-image: url(../assets/header-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header h1 {
    color: #01996D;
    font-family: Georgia, serif;
    font-size: 65px;
    font-weight: 700;
    max-width: 440px;
    margin-top: 0;
    padding-top: 170px;
}
.header p {
    font-size: 20px;
    max-width: 420px;
    color: #484848;
    margin-bottom: 18px;
}
.header button {
    width: 227px;
    height: 65px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #01996D;
    background: #01996D;
    padding: 20px 50px;
    color: #FFF;
}