html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body{
    font-family: 'Lato', sans-serif;
    margin: 0;

}
.container {
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
h2 {
    color: #01996D;
    font-family: Georgia;
    font-size: 50px;
    font-weight: 700;
    line-height: 157%;
}
/* Header */
.header {
    min-height: 895px;
    background-image: url(../assets/header-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header h1 {
    color: #01996D;
    font-family: Georgia, serif;
    font-size: 65px;
    font-weight: 700;
    max-width: 440px;
    margin-top: 0;
    padding-top: 170px;
}
.header p {
    font-size: 20px;
    max-width: 420px;
    color: #484848;
    margin-bottom: 18px;
}
.header button {
    padding: 20px 50px;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #D6D6D6;
}
.menu__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu__logo {
    cursor: pointer;
}
.menu__logo:hover {
    outline: 2px solid #01996D;
    outline-offset: 8px;
}
.menu__list li{
    display: inline-block;
    margin-right: 72px;
}
.menu__list li:hover{
    color: #01996D;
    cursor: pointer;
}
.menu__list li:last-child{
    margin-right: 0;
}
.menu__buttons {
    display: flex;
    gap: 35px;
}
.btn {
    border-radius: 4px;
    border: 1px solid #01996D;
    background-color: #01996D;
    color: white;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}
.menu__buttons-secondary {
    border: none;
    border-color: white;
    font-size: 20px;
    font-weight: 400;
    background-color: #fff;
}
.menu__buttons-secondary:hover {
    color: #01996D;
    cursor: pointer;
}
.menu__buttons-primary {
    padding: 13px 50px;
}
.menu__buttons-primary:hover {
    border-color: #fff;
}
/* Advantages */
.advantages {
    padding-top: 169px;
}
.advantages__text {
    display: flex;
    justify-content: space-between;
}
.advantages__title {
}
.advantages__description {
}
.advantages__steps {
}
.advantages__item {
}
.num {
}
.advantages__item-title {
}
.advantages__item-description {
}
.advantages__img {
}
.promo {
}
.promo__block {
}
.promo__title {
}
.promo__description {
}
.btn {
}
.promo__btn {
}
.video__block {
}
.our-products {
}
.card__container {
}
.card-img {
}
.card {
}
.card__title {
}
.card__divider {
}
.card__avatar {
}
.card__avatar-img {
}
.card__avatar-name {
}
.card__list-title {
}
.card__list {
}
.our-products__text {
}
.our-products__caption {
}
.our-products__title {
}
.our-products__description {
}
.our-products__btn {
}